<div>
  <h1 class="w3-center w3-container w3-pink">Lista de doces</h1>
  <div class="w3-margin">
      <form>
          <label>Id:</label><input type="text" id="txtId" maxlength="6" name="Id" [(ngModel)]="searchId">
          <label class="w3-margin-left">Descrição:</label><input type="text" id="txtDescricao" maxlength="100" name="Descricao" [(ngModel)]="searchDescricao">
          <button type="button" id="btnListar" class="w3-btn w3-pink w3-margin-left" (click)="get()">Listar</button>
          <button type="button" id="btnNovo" class="w3-btn w3-pink w3-margin-left" (click)="goToCreate()">Novo</button>
      </form>
  </div>
  <div class="w3-responsive">
      <table id="tbDoces" class="w3-table-all">
          <thead>
              <tr class="w3-pink">
                  <td class="w3-center">Id</td>
                  <td class="w3-center">Descrição</td>
                  <td class="w3-center">Valor</td>
                  <td class="w3-center">Data de fabricação</td>
                  <td></td>
              </tr>
          </thead>
          <tbody *ngIf="doces.length > 0; else listaVazia">
              <tr *ngFor="let doce of doces">
                  <td><a style="cursor: pointer;" (click)="goToEdit(doce.Id)">{{doce.Id}}</a></td>
                  <td>{{doce.Descricao | lowercase | uppercase}}</td>
                  <td class="w3-right-align">{{doce.Valor | currency:'BRL':'symbol'}}</td> <!--:true-->
                  <td class="w3-right-align">{{doce.DataFab | date:'dd-MM-yyyy'}}</td> <!--MMM-->
                  <td><a style="cursor: pointer;" (click)="delete(doce.Id)">Excluir</a></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<ng-template #listaVazia>
  <tbody>
      <tr>
          <td colspan="5">Nenhum doce encontrado.</td>
      </tr>
  </tbody>
</ng-template>
